.construction-category-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.construction-category-list li {
    display: inline-block;
    margin-right: 15px;
}

.construction-category-list li a {
    text-decoration: none;
    color: #333;
}

.construction-category-list li a:hover {
    text-decoration: underline;
}